# visual studio nonsense
.vs/
*.user
satelite/Debug/
satelite/Release/

include/Debug/
include/Release/

features/skins/Debug/
features/skins/Releases/

features/Debug/
features/Releases/

features/ui/config/Debug/
features/ui/config/Releases/

debug/
release/
*.bin
*.nb0
!boards/smdk2410/resources/*.bin
